:root {
    /* Palette de couleur */
    --dark: #0B162C;
    --lightdark: #1C2942;
    --grey: #3B556D;
    --blue: #5FC2BA;
    --white: #FFFFFF;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-Regular.ttf');
}

body {
    background-color: var(--lightdark);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    background-color: var(--dark);
    margin-top: auto;
    height: 100%;
}

.footer-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer p {
    color: var(--blue);
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-family: 'Raleway';
}

.img-footer {
    height: 5rem;
    align-items: center;
}

.img-footer:hover {
    transition: 0.5s;
    transform: matrix(1.1, 0, 0, 1.1, 0, 0);
    -webkit-filter: drop-shadow(0px 0px 5px var(--grey));
    filter: drop-shadow(0px 0px 5px var(--grey));
}

.img-footer:active {
    transform: scale(0.8);
}

@media screen and (max-width: 768px) {
    .img-footer {
        height: 3rem;
    }
}

@media screen and (max-width: 480px) {
    .img-footer {
        height: 2rem;
    }
}


