:root {
    /* Palette de couleur */
    --dark: #0B162C;
    --lightdark: #1C2942;
    --grey: #3B556D;
    --blue: #5FC2BA;
    --white: #FFFFFF;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-Regular.ttf');
}

main {
    display: flex;
    align-self: center;
}

.card {
    position: inherit;
    transform: translateY(50%);
    width: 300px;
    padding: 1.9rem 1.2rem;
    margin-right: 0;
    text-align: center;
    background: var(--dark);
    border-radius: 1rem 1rem 1rem 1rem;
}

/*Inputs*/
.field {
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    background: #1c2942;
    border-radius: 4px;
    padding: .5em 1em;
}

.input-icon {
    height: 1em;
    width: 1em;
    fill: var(--blue);
}

.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: var(--blue);
    -webkit-filter: drop-shadow(0px 0px 5px var(--grey));
    filter: drop-shadow(0px 0px 5px var(--grey));
    font-size: large;
}

/*Text*/
.title {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.5em;
    font-weight: 500;
    color: #f5f5f5;
    -webkit-filter: drop-shadow(0px 0px 5px var(--white));
    filter: drop-shadow(0px 0px 5px var(--white));
}

/*Buttons*/
.btn {
    margin: 1rem;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase;
    padding: 0.6em 1.2em;
    background-color: var(--white);
    color: var(--blue);
    box-shadow: 0 0px 20px 0px var(--blue);
    transition: all .3s ease-in-out;
}

.btn-link {
    color: #f5f5f5;
    display: block;
    font-size: .75em;
    transition: color .3s ease-out;
}

/*Hover & focus*/
.field input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}

.btn:hover {
    background-color: var(--white);
    color: var(--dark);
    box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
    cursor: pointer;
}

.btn-link:hover {
    color: #ffeba7;
}

.sub-title {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.5em;
    font-weight: 500;
    color: #f5f5f5;
}