.card {
    position: inherit;
    width: 300px;
    padding: 1.9rem 1.2rem;
    margin-right: 0;
    text-align: center;
    background: var(--dark);
    border-radius: 1rem 1rem 1rem 1rem;
}

/*Hover & focus*/
.field input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}

.btn:hover {
    background-color: var(--white);
    color: var(--dark);
    box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
    cursor: pointer;
}

.btn-link:hover {
    color: #ffeba7;
}

.sub-title {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.5em;
    font-weight: 500;
    color: #f5f5f5;
}