<main>
    <article>
        <h1><?= $_SESSION["firstName"] . ' ' . $_SESSION["lastName"] ?></h1>
        <section>
            <h2>Vos Informations</h2>
            <div class="dispatcher">
                <div>
                    <div class="infos dispatcher">
                        <div>
                            <p><?= $_SESSION["email"] ?></p>
                            <p><?= $_SESSION["isAdmin"] ? "Administrateur" : "Joueur" ?></p>
                        </div>
                        <div>
                            <p><?= $_SESSION["firstName"] . ' ' . $_SESSION["lastName"] ?></p>
                            <?php
                                use Managers\UserManager;

                                $userAvatar = UserManager::getUserAvatarPath();
                                if(!is_null($userAvatar))
                                    echo '<img style="border-radius: 100%; border: 1px solid white; width: '.UserManager::imgSize.'px; height: '.UserManager::imgSize.'px;" src="'. $userAvatar .'" alt="user_illus"></a>';
                            ?>
                        </div>
                    </div><br>
                    <a href="manage_quiz.php" class="link_btn">Changer votre mot de passe</a>
                    <a href="account_img.php" class="link_btn">Changer votre photo</a>
                </div>
                <img src="Imports/img/admin_illus.webp" alt="illus_user">
            </div>
            
        </section>
    </article>
</main>