<?php
use Managers\UserManager;
?>

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Imports/css/main.css">
    <link rel="shortcut icon" href="./Imports/img/logo.png" type="image/x-icon">
    <title>
        <?= siteName; ?>
    </title>
</head>

<body>
    <header>
        <nav class="nav-flex">
            <a href="index.php" class="a-nav-img"><img src="./Imports/img/logo.png" alt="OpenQuizz" class="img-nav"></a>
            <a href="index.php" class="a-nav">Accueil</a>
            <a href="" class="a-nav">Quizz</a>
            <?php
                if(UserManager::isConnected()){
                    echo '<a href="disconnect.php" class="a-nav">Deconnexion</a>';

                    $userAvatar = UserManager::getUserAvatarPath();
                    if(!is_null($userAvatar))
                        echo '<a href="" class="user_ava"><img src="'. $userAvatar .'" alt="user_illus"></a>';
                }
                else{
                    echo '<a onclick="popup()" class="a-nav">Connexion</a>
                    <a href="./inscription.php" class="a-nav">Inscription</a>';
                }
            ?>
        </nav>
    </header>
<?php
if(!UserManager::isConnected())
    require_once __DIR__."/popup.html";

require_once __DIR__."/notification.html";
?>
</body>
</html>