<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <title>
        OpenQuizz
    </title>
</head>

<body>
    <header>
        <nav class="nav-flex">
            <a href="" class="a-nav-img"><img src="../img/logo.png" alt="OpenQuizz" class="img-nav"></a>
            <a href="" class="a-nav">Accueil</a>
            <a href="" class="a-nav">Quizz</a>
            <a href="" class="a-nav">Connexion</a>
            <a href="" class="a-nav">Inscription</a>
        </nav>
    </header>

</body>

</html>